.root {
  border: none;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  min-width: 40px;
  min-height: 40px;
  user-select: none;

  * {
    z-index: 10;
  }

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transition: background-color .1s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }



  &:not(:disabled) {
    &:hover {
      &::before {
        background-color: rgba($color: #fff, $alpha: .3);
      }
    }
    &:active {
      &::before {
        background-color: rgba($color: #fff, $alpha: .5);
      }
    }
    &:focus{
      outline: none;
    }
  }
}
