.card {
  padding: 8px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 12px;
  margin-left: auto;
}
