.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center center;
  position: relative;

  img {
    max-width: 100%;
  }
}

.leading {
  &::after {
    content: "👑";
    position: absolute;
    display: block;
    right: -12px;
    top: -16px;
    transform: rotate(24deg);
    font-size: 28px;
  }
}
