.pictureContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pictureContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid black;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    transition: transform-origin 0.2s;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.zoomOptions {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
